[submodule "Source/AddingMachine"]
	path = Source/AddingMachine
	url = https://github.com/thiscouldbebetter/AddingMachine
[submodule "Source/ArtilleryGame"]
	path = Source/ArtilleryGame
	url = https://github.com/thiscouldbebetter/ArtilleryGame
[submodule "Source/AsteroidsGame"]
	path = Source/AsteroidsGame
	url = https://github.com/thiscouldbebetter/AsteroidsGame
[submodule "Source/BaseBuildingEngine"]
	path = Source/BaseBuildingEngine
	url = https://github.com/thiscouldbebetter/BaseBuildingEngine
[submodule "Source/BinaryFileToImageTranscoder"]
	path = Source/BinaryFileToImageTranscoder
	url = https://github.com/thiscouldbebetter/BinaryFileToImageTranscoder
[submodule "Source/Calculator"]
	path = Source/Calculator
	url = https://github.com/thiscouldbebetter/Calculator
[submodule "Source/CivilizationBuildingGame"]
	path = Source/CivilizationBuildingGame
	url = https://github.com/thiscouldbebetter/CivilizationBuildingGame
[submodule "Source/CompressorLZW"]
	path = Source/CompressorLZW
	url = https://github.com/thiscouldbebetter/CompressorLZW
[submodule "Source/ConversationEngine"]
	path = Source/ConversationEngine
	url = https://github.com/thiscouldbebetter/ConversationEngine
[submodule "Source/DataTranscoder"]
	path = Source/DataTranscoder
	url = https://github.com/thiscouldbebetter/DataTranscoder
[submodule "Source/DesktopPublisher"]
	path = Source/DesktopPublisher
	url = https://github.com/thiscouldbebetter/DesktopPublisher
[submodule "Source/EconomicsGame"]
	path = Source/EconomicsGame
	url = https://github.com/thiscouldbebetter/EconomicsGame
[submodule "Source/FallingBlockGame"]
	path = Source/FallingBlockGame
	url = https://github.com/thiscouldbebetter/FallingBlockGame
[submodule "Source/Flashcards"]
	path = Source/Flashcards
	url = https://github.com/thiscouldbebetter/Flashcards
[submodule "Source/GameFramework"]
	path = Source/GameFramework
	url = https://github.com/thiscouldbebetter/GameFramework
[submodule "Source/GameFrameworkTS"]
	path = Source/GameFrameworkTS
	url = https://github.com/thiscouldbebetter/GameFrameworkTS
[submodule "Source/GIFViewer"]
	path = Source/GIFViewer
	url = https://github.com/thiscouldbebetter/GIFViewer
[submodule "Source/HexEditor"]
	path = Source/HexEditor
	url = https://github.com/thiscouldbebetter/HexEditor
[submodule "Source/ImageCombiner"]
	path = Source/ImageCombiner
	url = https://github.com/thiscouldbebetter/ImageCombiner
[submodule "Source/IsometricMapEngine"]
	path = Source/IsometricMapEngine
	url = https://github.com/thiscouldbebetter/IsometricMapEngine
[submodule "Source/JSMinifier"]
	path = Source/JSMinifier
	url = https://github.com/thiscouldbebetter/JSMinifier
[submodule "Source/JSModularizer"]
	path = Source/JSModularizer
	url = https://github.com/thiscouldbebetter/JSModularizer
[submodule "Source/JsonPrettyPrinter"]
	path = Source/JsonPrettyPrinter
	url = https://github.com/thiscouldbebetter/JsonPrettyPrinter
[submodule "Source/MazeTraversalGame"]
	path = Source/MazeTraversalGame
	url = https://github.com/thiscouldbebetter/MazeTraversalGame
[submodule "Source/MIDIReader"]
	path = Source/MIDIReader
	url = https://github.com/thiscouldbebetter/MIDIReader
[submodule "Source/MultipleTextDocumentEditor"]
	path = Source/MultipleTextDocumentEditor
	url = https://github.com/thiscouldbebetter/MultipleTextDocumentEditor
[submodule "Source/MusicTracker"]
	path = Source/MusicTracker
	url = https://github.com/thiscouldbebetter/MusicTracker
[submodule "Source/NetworkedSpacewar"]
	path = Source/NetworkedSpacewar
	url = https://github.com/thiscouldbebetter/NetworkedSpacewar
[submodule "Source/NetworkedTabletopGameEngine"]
	path = Source/NetworkedTabletopGameEngine
	url = https://github.com/thiscouldbebetter/NetworkedTabletopGameEngine
[submodule "Source/OnlineStore"]
	path = Source/OnlineStore
	url = https://github.com/thiscouldbebetter/OnlineStore
[submodule "Source/Paint"]
	path = Source/Paint
	url = https://github.com/thiscouldbebetter/Paint
[submodule "Source/PixelArtEditor"]
	path = Source/PixelArtEditor
	url = https://github.com/thiscouldbebetter/PixelArtEditor
[submodule "Source/RankedChoiceElection"]
	path = Source/RankedChoiceElection
	url = https://github.com/thiscouldbebetter/RankedChoiceElection
[submodule "Source/RayTracer"]
	path = Source/RayTracer
	url = https://github.com/thiscouldbebetter/RayTracer
[submodule "Source/RoguelikeGame"]
	path = Source/RoguelikeGame
	url = https://github.com/thiscouldbebetter/RoguelikeGame
[submodule "Source/RPGCombatEngine"]
	path = Source/RPGCombatEngine
	url = https://github.com/thiscouldbebetter/RPGCombatEngine
[submodule "Source/ScrollableTileMapEngine"]
	path = Source/ScrollableTileMapEngine
	url = https://github.com/thiscouldbebetter/ScrollableTileMapEngine
[submodule "Source/SideScrollingPlatformerGame"]
	path = Source/SideScrollingPlatformerGame
	url = https://github.com/thiscouldbebetter/SideScrollingPlatformerGame
[submodule "Source/SolitaireGame"]
	path = Source/SolitaireGame
	url = https://github.com/thiscouldbebetter/SolitaireGame
[submodule "Source/SoundEditor"]
	path = Source/SoundEditor
	url = https://github.com/thiscouldbebetter/SoundEditor
[submodule "Source/SoundEffectSynthesizer"]
	path = Source/SoundEffectSynthesizer
	url = https://github.com/thiscouldbebetter/SoundEffectSynthesizer
[submodule "Source/SpaceStrategy4XGame"]
	path = Source/SpaceStrategy4XGame
	url = https://github.com/thiscouldbebetter/SpaceStrategy4XGame
[submodule "Source/SvgSimplifier"]
	path = Source/SvgSimplifier
	url = https://github.com/thiscouldbebetter/SvgSimplifier
[submodule "Source/TacticsGame"]
	path = Source/TacticsGame
	url = https://github.com/thiscouldbebetter/TacticsGame
[submodule "Source/TarFileExplorer"]
	path = Source/TarFileExplorer
	url = https://github.com/thiscouldbebetter/TarFileExplorer
[submodule "Source/ThreeDeeMazeGame"]
	path = Source/ThreeDeeMazeGame
	url = https://github.com/thiscouldbebetter/ThreeDeeMazeGame
[submodule "Source/TileMatchingGame"]
	path = Source/TileMatchingGame
	url = https://github.com/thiscouldbebetter/TileMatchingGame
[submodule "Source/TrueTypeViewer"]
	path = Source/TrueTypeViewer
	url = https://github.com/thiscouldbebetter/TrueTypeViewer
[submodule "Source/TypeScriptToJavaScriptConverter"]
	path = Source/TypeScriptToJavaScriptConverter
	url = https://github.com/thiscouldbebetter/TypeScriptToJavaScriptConverter
[submodule "Source/UrQuanMastersClone"]
	path = Source/UrQuanMastersClone
	url = https://github.com/thiscouldbebetter/UrQuanMastersClone
[submodule "Source/TextInterleaver"]
	path = Source/TextInterleaver
	url = https://github.com/thiscouldbebetter/TextInterleaver
[submodule "Source/TextTransliterator"]
	path = Source/TextTransliterator
	url = https://github.com/thiscouldbebetter/TextTransliterator
[submodule "Source/TouchTypingTrainer"]
	path = Source/TouchTypingTrainer
	url = https://github.com/thiscouldbebetter/TouchTypingTrainer
[submodule "Source/FileSplitter"]
	path = Source/FileSplitter
	url = https://github.com/thiscouldbebetter/FileSplitter
[submodule "Source/Books"]
	path = Source/Books
	url = https://github.com/thiscouldbebetter/Books
[submodule "Source/FarmingGame"]
	path = Source/FarmingGame
	url = https://github.com/thiscouldbebetter/FarmingGame
[submodule "Source/TextVerbatimTranslator"]
	path = Source/TextVerbatimTranslator
	url = https://github.com/thiscouldbebetter/TextVerbatimTranslator
[submodule "Source/ImageCharacterizer"]
	path = Source/ImageCharacterizer
	url = https://github.com/thiscouldbebetter/ImageCharacterizer
[submodule "Source/ImageTagger"]
	path = Source/ImageTagger
	url = https://github.com/thiscouldbebetter/ImageTagger
[submodule "Source/AssemblerDisassembler"]
	path = Source/AssemblerDisassembler
	url = https://github.com/thiscouldbebetter/AssemblerDisassembler
[submodule "Source/ImageCapturer"]
	path = Source/ImageCapturer
	url = https://github.com/thiscouldbebetter/ImageCapturer
[submodule "Source/MeshEditor"]
	path = Source/MeshEditor
	url = https://github.com/thiscouldbebetter/MeshEditor
[submodule "Source/--force"]
	path = Source/--force
	url = https://github.com/thiscouldbebetter/MeshEditor
[submodule "Source/SnakeGame"]
	path = Source/SnakeGame
	url = https://github.com/thiscouldbebetter/SnakeGame
[submodule "Source/SokobanGame"]
	path = Source/SokobanGame
	url = https://github.com/thiscouldbebetter/SokobanGame
[submodule "Source/AerialCombatGame"]
	path = Source/AerialCombatGame
	url = https://github.com/thiscouldbebetter/AerialCombatGame
[submodule "Source/MusicNotationRenderer"]
	path = Source/MusicNotationRenderer
	url = https://github.com/thiscouldbebetter/MusicNotationRenderer
[submodule "Source/QrCodeGenerator"]
	path = Source/QrCodeGenerator
	url = https://github.com/thiscouldbebetter/QrCodeGenerator
[submodule "Source/RSAEncryptor"]
	path = Source/RSAEncryptor
	url = https://github.com/thiscouldbebetter/RSAEncryptor
[submodule "Source/ScheduledEventNotifier"]
	path = Source/ScheduledEventNotifier
	url = https://github.com/thiscouldbebetter/ScheduledEventNotifier
[submodule "Source/EntropyHarvester"]
	path = Source/EntropyHarvester
	url = https://github.com/thiscouldbebetter/EntropyHarvester
[submodule "Source/ColladaFileViewer"]
	path = Source/ColladaFileViewer
	url = https://github.com/thiscouldbebetter/ColladaFileViewer
[submodule "Source/FilesystemExplorerExt4"]
	path = Source/FilesystemExplorerExt4
	url = https://github.com/thiscouldbebetter/FilesystemExplorerExt4
[submodule "Source/FilesystemExplorerFAT12"]
	path = Source/FilesystemExplorerFAT12
	url = https://github.com/thiscouldbebetter/FilesystemExplorerFAT12
[submodule "Source/SoundRecorder"]
	path = Source/SoundRecorder
	url = https://github.com/thiscouldbebetter/SoundRecorder
[submodule "Source/PlanetTopographyGenerator"]
	path = Source/PlanetTopographyGenerator
	url = https://github.com/thiscouldbebetter/PlanetTopographyGenerator
[submodule "Source/RetirementSavingsCalculator"]
	path = Source/RetirementSavingsCalculator
	url = https://github.com/thiscouldbebetter/RetirementSavingsCalculator
[submodule "Source/CinematicsEngine"]
	path = Source/CinematicsEngine
	url = https://github.com/thiscouldbebetter/CinematicsEngine
[submodule "Source/TextBasedSvgEditor"]
	path = Source/TextBasedSvgEditor
	url = https://github.com/thiscouldbebetter/TextBasedSvgEditor
[submodule "Source/TextToSpeechSynthesizer"]
	path = Source/TextToSpeechSynthesizer
	url = https://github.com/thiscouldbebetter/TextToSpeechSynthesizer
[submodule "Source/LogicTrainGame"]
	path = Source/LogicTrainGame
	url = https://github.com/thiscouldbebetter/LogicTrainGame
[submodule "Source/JavaScriptParser"]
	path = Source/JavaScriptParser
	url = https://github.com/thiscouldbebetter/JavaScriptParser
[submodule "Source/LogoProgrammingEnvironment"]
	path = Source/LogoProgrammingEnvironment
	url = https://github.com/thiscouldbebetter/LogoProgrammingEnvironment
[submodule "Source/ImageSequencer"]
	path = Source/ImageSequencer
	url = https://github.com/thiscouldbebetter/ImageSequencer
[submodule "Source/DicewarePasswordGenerator"]
	path = Source/DicewarePasswordGenerator
	url = https://github.com/thiscouldbebetter/DicewarePasswordGenerator
[submodule "Source/TopDownSpaceGame"]
	path = Source/TopDownSpaceGame
	url = https://github.com/thiscouldbebetter/TopDownSpaceGame
[submodule "Source/TopDownDungeonGame"]
	path = Source/TopDownDungeonGame
	url = https://github.com/thiscouldbebetter/TopDownDungeonGame
[submodule "Source/RpgCombatEngine2"]
	path = Source/RpgCombatEngine2
	url = https://github.com/thiscouldbebetter/RpgCombatEngine2
[submodule "Source/ImageGallery"]
	path = Source/ImageGallery
	url = https://thiscouldbebetter@github.com/thiscouldbebetter/ImageGallery
[submodule "Source/PseudorandomPasswordGenerator"]
	path = Source/PseudorandomPasswordGenerator
	url = https://github.com/thiscouldbebetter/PseudorandomPasswordGenerator
