[submodule "Source/AddingMachine"]
	path = Source/AddingMachine
	url = https://github.com/thiscouldbebetter/AddingMachine
[submodule "Source/ArtilleryGame"]
	path = Source/ArtilleryGame
	url = https://github.com/thiscouldbebetter/ArtilleryGame
[submodule "Source/AsteroidsGame"]
	path = Source/AsteroidsGame
	url = https://github.com/thiscouldbebetter/AsteroidsGame
[submodule "Source/BaseBuildingEngine"]
	path = Source/BaseBuildingEngine
	url = https://github.com/thiscouldbebetter/BaseBuildingEngine
[submodule "Source/BinaryFileToImageTranscoder"]
	path = Source/BinaryFileToImageTranscoder
	url = https://github.com/thiscouldbebetter/BinaryFileToImageTranscoder
[submodule "Source/Calculator"]
	path = Source/Calculator
	url = https://github.com/thiscouldbebetter/Calculator
[submodule "Source/CivilizationBuildingGame"]
	path = Source/CivilizationBuildingGame
	url = https://github.com/thiscouldbebetter/CivilizationBuildingGame
[submodule "Source/CompressorLZW"]
	path = Source/CompressorLZW
	url = https://github.com/thiscouldbebetter/CompressorLZW
[submodule "Source/ConversationEngine"]
	path = Source/ConversationEngine
	url = https://github.com/thiscouldbebetter/ConversationEngine
[submodule "Source/DataTranscoder"]
	path = Source/DataTranscoder
	url = https://github.com/thiscouldbebetter/DataTranscoder
[submodule "Source/DesktopPublisher"]
	path = Source/DesktopPublisher
	url = https://github.com/thiscouldbebetter/DesktopPublisher
[submodule "Source/EconomicsGame"]
	path = Source/EconomicsGame
	url = https://github.com/thiscouldbebetter/EconomicsGame
[submodule "Source/FallingBlockGame"]
	path = Source/FallingBlockGame
	url = https://github.com/thiscouldbebetter/FallingBlockGame
[submodule "Source/Flashcards"]
	path = Source/Flashcards
	url = https://github.com/thiscouldbebetter/Flashcards
[submodule "Source/GameFramework"]
	path = Source/GameFramework
	url = https://github.com/thiscouldbebetter/GameFramework
[submodule "Source/GameFrameworkTS"]
	path = Source/GameFrameworkTS
	url = https://github.com/thiscouldbebetter/GameFrameworkTS
[submodule "Source/GIFViewer"]
	path = Source/GIFViewer
	url = https://github.com/thiscouldbebetter/GIFViewer
[submodule "Source/HexEditor"]
	path = Source/HexEditor
	url = https://github.com/thiscouldbebetter/HexEditor
[submodule "Source/ImageCombiner"]
	path = Source/ImageCombiner
	url = https://github.com/thiscouldbebetter/ImageCombiner
[submodule "Source/IsometricMapEngine"]
	path = Source/IsometricMapEngine
	url = https://github.com/thiscouldbebetter/IsometricMapEngine
[submodule "Source/JSMinifier"]
	path = Source/JSMinifier
	url = https://github.com/thiscouldbebetter/JSMinifier
[submodule "Source/JSModularizer"]
	path = Source/JSModularizer
	url = https://github.com/thiscouldbebetter/JSModularizer
[submodule "Source/JsonPrettyPrinter"]
	path = Source/JsonPrettyPrinter
	url = https://github.com/thiscouldbebetter/JsonPrettyPrinter
[submodule "Source/MazeTraversalGame"]
	path = Source/MazeTraversalGame
	url = https://github.com/thiscouldbebetter/MazeTraversalGame
[submodule "Source/MIDIReader"]
	path = Source/MIDIReader
	url = https://github.com/thiscouldbebetter/MIDIReader
[submodule "Source/MultipleTextDocumentEditor"]
	path = Source/MultipleTextDocumentEditor
	url = https://github.com/thiscouldbebetter/MultipleTextDocumentEditor
[submodule "Source/MusicTracker"]
	path = Source/MusicTracker
	url = https://github.com/thiscouldbebetter/MusicTracker
[submodule "Source/NetworkedSpacewar"]
	path = Source/NetworkedSpacewar
	url = https://github.com/thiscouldbebetter/NetworkedSpacewar
[submodule "Source/NetworkedTabletopGameEngine"]
	path = Source/NetworkedTabletopGameEngine
	url = https://github.com/thiscouldbebetter/NetworkedTabletopGameEngine
[submodule "Source/OnlineStore"]
	path = Source/OnlineStore
	url = https://github.com/thiscouldbebetter/OnlineStore
[submodule "Source/Paint"]
	path = Source/Paint
	url = https://github.com/thiscouldbebetter/Paint
[submodule "Source/PixelArtEditor"]
	path = Source/PixelArtEditor
	url = https://github.com/thiscouldbebetter/PixelArtEditor
[submodule "Source/RankedChoiceElection"]
	path = Source/RankedChoiceElection
	url = https://github.com/thiscouldbebetter/RankedChoiceElection
[submodule "Source/RayTracer"]
	path = Source/RayTracer
	url = https://github.com/thiscouldbebetter/RayTracer
